@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 255);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.palavras{
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
